<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2 class="text-center">Login</h2>

      <form action="/login" method="POST">
        {{#if loginErr}}
          <p
            class="alert alert-danger text-center"
            role="alert"
          >{{loginErr}}</p>
        {{/if}}
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="name@example.com"
          />
          <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
          />
          <label for="password">Password</label>
        </div>

        <a href="/signup">Create new account?</a>

        <button class="btn btn-primary float-end" type="submit">Sign in</button>

      </form>
    </div>
  </div>
</div>